@import '../reset';

//header{
//  &.mui-badge-light-blue{
//     background: $commoBg; 
//  }
//}

.mui-content{
    .mui-scroll-wrapper{
        margin-top: 44px;
        .mui-scroll{
            .m-lookHouse{
                .custNum{
                    background:$commonLi ;
                    padding:5px 15px;
                }
                .custCon{
                    .custTitle{
                        text-align: center;
                        line-height: 35px;
                        border-bottom:1px solid $commoBorder;
                    }
                }
                .custList{
                    div{
                        text-align: center;
                        line-height: 35px;
                        color: #333;
                        &.mui-icon{
                            color: $commoBg;
                        }
                    }
                }
            }
        }
    }
}
