@charset "UTF-8";
/*---------------reset start*/
html {
  font-family: "微软雅黑";
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li, ol li {
  list-style: none; }

[hidden],
template {
  display: none; }

a {
  background: 0 0;
  color: #03a9f4; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

i {
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-repeat: no-repeat; }

body {
  font-family: '微软雅黑';
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch; }

a {
  text-decoration: none; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: ".";
  /*内容为“.”就是一个英文的句号而已。也可以不写。*/
  display: block;
  /*加入的这个元素转换为块级元素。*/
  clear: both;
  /*清除左右两边浮动。*/
  visibility: hidden;
  /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
  line-height: 0;
  /*行高为0；*/
  height: 0;
  /*高度为0；*/
  font-size: 0;
  /*字体大小为0；*/ }

/* scroll style*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button:vertical {
  display: none; }

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #e2e2e2; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35); }

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38); }

/*----------------------reset end   */
/*----------------------公用变量*/
/*背景颜色*/
/*文字颜色*/
/*暂无数据*/
.noinfo {
  display: none;
  padding: 40px 0; }
  .noinfo img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto; }

/*公用标签(span)*/
.spanTagAile {
  font-size: 12px;
  padding: 0 5px;
  margin-right: 6px;
  /*随时看房*/
  /*独家*/
  /*满五*/
  /*满二*/
  /*实勘*/
  /*精装*/
  /*新上*/
  /**/ }
  .spanTagAile.hasKey {
    border: 1px solid #33BE85;
    color: #33BE85; }
  .spanTagAile.duJia {
    border: 1px solid #ef9c0d;
    color: #ef9c0d; }
  .spanTagAile.M5 {
    border: 1px solid  #FF8062;
    color: #FF8062; }
  .spanTagAile.M2 {
    color: #33BE85;
    border: 1px solid  #33BE85; }
  .spanTagAile.shiKan {
    border: 1px solid  #ef9c0d;
    color: #ef9c0d; }
  .spanTagAile.jingZhuang {
    border: 1px solid  #80b6d8;
    color: #80b6d8; }
  .spanTagAile.xinShang {
    border: 1px solid #a97ed7;
    color: #a97ed7; }
  .spanTagAile.duWei {
    border: 1px solid #55a278;
    color: #55a278; }

/*----------------------兼容代码块*/
/*暂无数据*/
.m-no-data {
  padding-top: 93px; }
  .m-no-data div {
    margin-left: auto;
    margin-right: auto;
    width: 94px;
    height: 94px;
    background: url(../../img/c-icon.png) no-repeat;
    background-position: 0 -64px; }
  .m-no-data p {
    text-align: center;
    padding-top: 35px;
    height: 14px;
    font-size: 14px;
    line-height: 30px; }

/*view css开始*/
html,
body {
  background-color: #efeff4; }

#m-personage .mui-table-view-cell,
#userName .mui-table-view-cell {
  padding: 11px 15px; }

#m-personage .mui-table-view-cell > a:not(.mui-btn),
#userName .mui-table-view-cell > a:not(.mui-btn) {
  margin: -11px -15px; }

.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #efeff4; }

.mui-pages {
  top: 44px;
  /*bottom: 50px;*/
  height: auto;
  /*margin-bottom: 50px;*/ }

.mui-scroll-wrapper,
.mui-scroll {
  background-color: #efeff4; }

.mui-scroll {
  /*padding: .4rem;*/ }

.mui-page.mui-transitioning {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease; }

.mui-page-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mui-ios .mui-page-left {
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0); }

.mui-navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  background-color: #f7f7f8; }

.mui-navbar .mui-bar {
  position: absolute;
  /*background: transparent;*/
  text-align: center; }

.mui-android .mui-navbar-inner.mui-navbar-left {
  opacity: 0; }

.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
  opacity: 0; }

.mui-navbar .mui-btn-nav {
  -webkit-transition: none;
  transition: none;
  -webkit-transition-duration: .0s;
  transition-duration: .0s; }

.mui-navbar .mui-bar .mui-title {
  display: inline-block;
  width: auto; }

.mui-page-shadow {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  z-index: -1;
  content: ''; }

.mui-page-shadow {
  background: -webkit-linear-gradient(left, transparent 0, transparent 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, transparent 0, transparent 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%); }

.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease; }

.mui-page {
  display: none; }

.mui-pages .mui-page {
  display: block; }

.mui-page .mui-table-view:first-child {
  /*margin-top: 15px;*/ }

.mui-page .textbox {
  margin: 0 .3rem; }

.mui-page textarea {
  margin-top: 15px;
  height: 6rem; }

.mui-table-view:after {
  background-color: #eaeaea; }

.mui-table-view-cell:after,
.mui-table-view:before {
  left: 0;
  border-bottom: 1px solid #eaeaea;
  height: 0px; }

.mui-table-view span.mui-pull-right {
  color: #999; }

.mui-table-view-divider {
  background-color: #efeff4;
  font-size: 14px; }

.mui-table-view-divider:before,
.mui-table-view-divider:after {
  height: 0; }

.mui-table-view-cell {
  padding: 0; }

.mui-table-view-cell > a:not(.mui-btn) {
  margin: 0;
  padding: 11px 15px; }

.head {
  height: 40px; }

#head {
  line-height: 40px; }

.head-img {
  width: 40px;
  height: 40px; }

#head-img1 {
  position: absolute;
  bottom: 10px;
  right: 40px;
  width: 40px;
  height: 40px; }

.update {
  font-style: normal;
  color: #999999;
  margin-right: -25px;
  font-size: 15px; }

.mui-fullscreen {
  position: fixed;
  z-index: 20;
  background-color: #000; }

.mui-ios .mui-navbar .mui-bar .mui-title {
  position: static; }

/*view css结束*/
nav.mui-bar-tab {
  text-align: center;
  line-height: 50px;
  background: #fff;
  box-shadow: none;
  border-top: 1px solid #eee; }

/*单页面*/
#m-personage .mui-page-content .mui-scroll-wrapper {
  background: #fff; }
  #m-personage .mui-page-content .mui-scroll-wrapper .mui-scroll .mui-table-view-cell:after {
    left: 0; }
  #m-personage .mui-page-content .mui-scroll-wrapper .mui-scroll .mui-pull-right {
    width: 100px;
    text-align: right;
    margin-right: 15px; }
  #m-personage .mui-page-content .mui-scroll-wrapper .mui-scroll li img {
    width: 30px !important;
    height: 30px; }
  #m-personage .mui-page-content .mui-scroll-wrapper .mui-scroll li .userHead {
    line-height: 35px; }

.saveName {
  line-height: 44px;
  font-size: 15px;
  color: #fff; }

/*修改昵称*/
#userName .mui-page-content .mui-scroll-wrapper {
  background: #fff; }
  #userName .mui-page-content .mui-scroll-wrapper .mui-scroll {
    background: #fff; }
    #userName .mui-page-content .mui-scroll-wrapper .mui-scroll .nameBox {
      position: relative;
      width: 95%;
      margin: 20px auto; }
      #userName .mui-page-content .mui-scroll-wrapper .mui-scroll .nameBox .emptyName {
        position: absolute;
        right: 10px;
        top: 8px; }

/*设置密码*/
#settingPwd .mui-page-content .mui-scroll-wrapper {
  background: #fff; }
  #settingPwd .mui-page-content .mui-scroll-wrapper .mui-scroll {
    background: #fff; }
    #settingPwd .mui-page-content .mui-scroll-wrapper .mui-scroll div {
      position: relative;
      margin: 0 auto;
      width: 95%;
      margin-top: 10px; }
      #settingPwd .mui-page-content .mui-scroll-wrapper .mui-scroll div.saveBtn {
        text-align: center; }
        #settingPwd .mui-page-content .mui-scroll-wrapper .mui-scroll div.saveBtn button {
          width: 80%;
          background: #591571;
          color: #fff;
          border: 0; }
