/*标题*/
h4.title{
	height: 35px;
	background: #efeff4;
	margin:0;
	font-weight: normal;
	font-size: 14px;
	line-height: 35px;
	padding: 0 .4rem;
	color: #333;
}
/**/
.mui-content {
	color: #666;
	height: 100vh;
	background: #fff;
}
.mui-content,
input,
select,
textarea,
button {
	font-size: 13px;
}
ul,
ol {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
#header a{
	margin-left: 4px;
}
.mui-bar .mui-btn-link{
	color: #fff;
}
/*客户信息*/
.customerDetail{
	padding:.5rem;
	border-bottom: 1px solid #ddd;
}
.customerDetail li,.customerInfo span{
	margin-bottom: 8px;
}
.customerDetail span,
.customerDetail li div{
	color: #000;
}
.customerDetail li div,.customerDetail li label{
	float:left;
}
.showHide,.showHides{
	text-align: center;
}
.showHides{
	padding:15px 0 10px;
}
.showHide .mui-icon,.showHides .mui-icon{
	padding: 0;
	font-size: 20px;
}
/*客户意向*/
.customerIntention{
	padding:.5rem;
	font-size: 12px;
	height: 3rem;
	overflow: hidden;
}
.customerIntention p{margin: 0;}
.customerIntention .date,.customerIntention .homeDetail,.customerIntention .homeDetail div,.customerIntention .homeDetail label{
	float: left;
}
.customerIntention .date{
	width: 25%;
}
.customerIntention .homeDetail{
	width: 75%;
}
.customerIntention .homeDetail div div{
	color: #000;
}
.customerIntention b{
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #35b5e9;
	color: #fff;
	text-align: center;
	line-height: 20px;
	margin-top: 10px;
}
.customerIntention .date .sj{
	font-size: 12px;
	text-align: center;
	color: #000;
	position: relative;
}
.customerIntention .date .sj:after{
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	height: 36px;
	
	background: #ddd;
	left: 50%;
	top: 17px;
}

.customerIntention .homeDetail .mui-col-xs-6{
	padding: 4px 0;
}
.customerIntention > li:not(:last-child){
	padding-bottom: 20px;
}
/*跟进进程*/
.follow-up-the-process {
	background: #fff;
	border-radius: .3rem;
	margin: .4rem .4rem;
}
.follow-up-the-process ul {
	padding: 0 0 1.2rem .4rem;
	width: 15rem;
	margin: 13px auto;
}

.follow-up-the-process ul li {
	float: left;
	width: 2.8rem;
	height: 1rem;
	list-style: none;
	position: relative;
}

.follow-up-the-process ul li p {
	font-size: .5rem;
	text-align: center;
	color: #666;
}

.follow-up-the-process ul li>div {
	width: 1rem;
	height: 1rem;
	background: #999;
	border-radius: 50%;
	margin: 0 auto;
}

.follow-up-the-process ul li div:not(:last-child):after {
	content: " ";
	display: block;
	width: 2rem;
	height: 2px;
	background: #999;
	position: absolute;
	top: .5rem;
	right: -1.1rem;
}

.follow-up-the-process .process {
	background: #35b5e9;
}

.follow-up-the-process .process-a:after {
	background: #35b5e9 !important;
}

/**/
.noafter:after {
	content: none !important;
}
/**/
/*带看*/
.takeLookAt{
	font-size: 12px;
	padding: .4rem;
}
.takeLookAt .sj{
	font-size: 12px;
	color: #000;
}
.takeLookAt p{
	margin: 0;
}
.takeLookAt b{
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #35b5e9;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.takeLookAt .date .sj{
	font-size: 12px;
	text-align: center;
	position: relative;
}
.takeLookAt .homeName p{
	font-size: 12px;
}
.takeLookAt .homeName .mui-ellipsis{
	color: #000;
}
.takeLookAt .mui-icon{
	line-height: 1.7;
}
.takeLookAt li{
	padding:5px 0;
}
.takeLookAt li:not(:last-child){
	border-bottom: 1px solid #ddd;
}

/*.takeLookAt li:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 5px;
	bottom: 0;
	background: #ddd;
}*/

/*底部导航*/
.mui-bar-tab div{
	width: 310px;
	margin: 0 auto;
}
.mui-bar-tab button{
	width: 32%;
	box-sizing: border-box;
	/*background: #FF6633;*/
	color: #fff;
	border: none;
	border-radius: 4px;
}
.mui-bar-tab button:not(:last-child){
	/*position: inherit !important;*/
	margin-right: 6px;
	float: left;
}
.mui-bar-tab{
	padding: 0 5px;
}
.takeLookAt{
	/*height:165px;*/
	overflow: hidden;
}
.noinfo{
	padding: 50px 0;
}
