@charset "UTF-8";
/*---------------reset start*/
html {
  font-family: "微软雅黑";
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li, ol li {
  list-style: none; }

[hidden],
template {
  display: none; }

a {
  background: 0 0;
  color: #03a9f4; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

i {
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-repeat: no-repeat; }

body {
  font-family: '微软雅黑';
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch; }

a {
  text-decoration: none; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: ".";
  /*内容为“.”就是一个英文的句号而已。也可以不写。*/
  display: block;
  /*加入的这个元素转换为块级元素。*/
  clear: both;
  /*清除左右两边浮动。*/
  visibility: hidden;
  /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
  line-height: 0;
  /*行高为0；*/
  height: 0;
  /*高度为0；*/
  font-size: 0;
  /*字体大小为0；*/ }

/* scroll style*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button:vertical {
  display: none; }

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #e2e2e2; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35); }

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38); }

/*----------------------reset end   */
/*----------------------公用变量*/
/*背景颜色*/
/*文字颜色*/
/*暂无数据*/
.noinfo {
  display: none;
  padding: 40px 0; }
  .noinfo img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto; }

/*公用标签(span)*/
.spanTagAile {
  font-size: 12px;
  padding: 0 5px;
  margin-right: 6px;
  /*随时看房*/
  /*独家*/
  /*满五*/
  /*满二*/
  /*实勘*/
  /*精装*/
  /*新上*/
  /**/ }
  .spanTagAile.hasKey {
    border: 1px solid #33BE85;
    color: #33BE85; }
  .spanTagAile.duJia {
    border: 1px solid #ef9c0d;
    color: #ef9c0d; }
  .spanTagAile.M5 {
    border: 1px solid  #FF8062;
    color: #FF8062; }
  .spanTagAile.M2 {
    color: #33BE85;
    border: 1px solid  #33BE85; }
  .spanTagAile.shiKan {
    border: 1px solid  #ef9c0d;
    color: #ef9c0d; }
  .spanTagAile.jingZhuang {
    border: 1px solid  #80b6d8;
    color: #80b6d8; }
  .spanTagAile.xinShang {
    border: 1px solid #a97ed7;
    color: #a97ed7; }
  .spanTagAile.duWei {
    border: 1px solid #55a278;
    color: #55a278; }

/*----------------------兼容代码块*/
/*暂无数据*/
.m-no-data {
  padding-top: 93px; }
  .m-no-data div {
    margin-left: auto;
    margin-right: auto;
    width: 94px;
    height: 94px;
    background: url(../../img/c-icon.png) no-repeat;
    background-position: 0 -64px; }
  .m-no-data p {
    text-align: center;
    padding-top: 35px;
    height: 14px;
    font-size: 14px;
    line-height: 30px; }

.mui-bar-nav ~ .mui-content .mui-pull-top-pocket {
  top: 0; }

header.mui-badge-light-blue {
  position: relative; }

header .mui-search {
  display: inline-block;
  width: 80%;
  height: 100%; }
  header .mui-search .mui-placeholder {
    font-size: 14px; }
  header .mui-search input {
    background: #f7f7f7; }

.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  z-index: 5;
  display: none; }

.mui-content #sortBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #000;
  opacity: 0.5;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  z-index: 4; }
  .mui-content #sortBtn .sortIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../img/sort.png) no-repeat;
    margin-top: 7px; }
  .mui-content #sortBtn div {
    color: #fff;
    margin-top: -8px; }

.mui-content .m-houseList {
  background: #fff;
  /*筛选*/
  /*列表*/ }
  .mui-content .m-houseList .serch-box {
    width: 100%;
    height: 44px;
    z-index: 4; }
    .mui-content .m-houseList .serch-box .fixd-select {
      position: fixed;
      top: 0; }
    .mui-content .m-houseList .serch-box .search-top {
      width: 100%;
      z-index: 20;
      background: #fff; }
      .mui-content .m-houseList .serch-box .search-top .nav_ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        position: relative;
        z-index: 10;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ccc; }
        .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li {
          width: 25%;
          float: left; }
          .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li p {
            position: relative;
            float: left;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            color: #666;
            font-size: 14px;
            cursor: pointer;
            margin: 0; }
            .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li p i {
              font-size: 20px;
              transition: all .3s;
              transform-origin: center;
              transform: rotate(0deg); }
            .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li p i.active {
              transform: rotate(180deg); }
          .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child {
            display: none;
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: left;
            width: 100%;
            position: absolute;
            left: 0px;
            top: 40px;
            z-index: 9;
            background: #fff; }
            .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child:after {
              height: 0; }
            .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child li {
              color: #333;
              font-size: 14px; }
              .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child li:after {
                left: 0; }
              .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child li.no_view {
                padding: 11px 15px; }
                .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child li.no_view input[type='text'] {
                  width: 60px;
                  margin-bottom: 0;
                  height: 25px;
                  line-height: 40px;
                  padding: 0;
                  text-indent: 10px; }
                .mui-content .m-houseList .serch-box .search-top .nav_ul .nav_ul_li .nav_child li.no_view a {
                  display: inline-block;
                  margin-left: 10px;
                  vertical-align: middle;
                  background: #591571;
                  color: #fff;
                  width: 60px;
                  line-height: 25px;
                  text-align: center; }
  .mui-content .m-houseList .listCon ul li {
    padding: 15px;
    border-bottom: 1px solid #eee; }
    .mui-content .m-houseList .listCon ul li > a {
      display: block; }
    .mui-content .m-houseList .listCon ul li .img {
      float: left;
      width: 30%;
      vertical-align: 5px;
      height: 70px; }
      .mui-content .m-houseList .listCon ul li .img img {
        width: 100%;
        height: 100%; }
    .mui-content .m-houseList .listCon ul li .conRight {
      width: 69%;
      margin-left: 30%;
      padding-left: 15px; }
      .mui-content .m-houseList .listCon ul li .conRight div.title {
        font-size: 16px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .mui-content .m-houseList .listCon ul li .conRight div.price {
        font-size: 14px;
        color: #db4c3f;
        font-weight: bold; }
        .mui-content .m-houseList .listCon ul li .conRight div.price span {
          margin-left: 5px;
          font-size: 12px;
          color: #888;
          font-weight: normal; }
      .mui-content .m-houseList .listCon ul li .conRight .info {
        color: #666; }

.opt-box a.m-clear,
.opt-box a.m-sure {
  position: absolute;
  display: block;
  width: 100%;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center; }

.opt-box a.m-clear {
  bottom: 40px;
  color: #666;
  background: #FAFAFA;
  border-top: #eee 1px solid; }

.opt-box a.m-sure {
  color: #fff;
  bottom: 0;
  background: #591571; }

.m-border {
  position: relative; }

.m-border:before {
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc; }

.more-serach {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 80px; }
  .more-serach .mui-bar {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none; }
  .more-serach .mui-bar button {
    width: 50%;
    display: inline-block;
    color: #666;
    vertical-align: middle;
    line-height: 50px;
    border: 0;
    font-size: 12px;
    font-weight: 300; }
  .more-serach .mui-bar button.yes {
    background: #007aff;
    color: #fff; }
  .more-serach .mui-bar-nav ~ .mui-content {
    padding: 0; }
  .more-serach .box {
    padding-left: 5px; }
  .more-serach .box button {
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
    color: #000; }
  .more-serach .title {
    font-size: 14px;
    padding: 15px;
    padding-bottom: 0;
    font-weight: 600; }
  .more-serach .title + .content {
    margin: 10px 15px 35px;
    color: #333;
    text-indent: 1em;
    font-size: 14px;
    line-height: 24px; }
  .more-serach #pullrefresh .mui-btn {
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin: 5px; }
