header .mui-title{
				color: #fff;
			}
			header .mui-icon{
				color: #fff;
			}
			header #delete{
				line-height: 44px;
				color: #fff;
			}
			.mui-bar .mui-btn-block{
				width:56%;
				margin:0 auto;
				border:0;
			}
			.uppic{
				margin-bottom: .25rem;
			}
			.uppic li{
				padding: 11px 15px;
			}
			.upBox{
			    background: #fff;	
			    font-size: 0;
				border-radius: .3rem;
			}
			.upBox h1{
				margin:0;
				display: inline-block;
				font-size: .65rem;
				font-weight: normal;
				margin-right: .25rem;
				vertical-align: middle;
			}
			.upBtn{
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.25rem;

			}
			.upBox .upBtn .add{
				display: block;
				width: 2.75rem;
				height: 2.75rem;
				background: url(../../img/hosing/add.png) no-repeat;
				background-size: 100% 100%;
			}
			.upBox .imgBox{
				display: inline-block;
				vertical-align: middle;
				font-size: 0;
			}
			.upBox .imgBox img{
				width: 2.75rem;
				height: 2.75rem;
				display: inline-block;
				vertical-align: bottom;
				margin-right: 0.25rem;
			}
			.mui-table-view{
    			border-radius: .3rem;
			}
			.mui-table-view:before,.mui-table-view:after{
				background-color: transparent;
			}
			.mui-bar-nav ~ .mui-content{
				padding-top: 65px;
			}
			.time .mui-table-view-cell p,.time .mui-table-view-cell label{
				display: inline-block;
				font-size: .65rem;
				vertical-align: middle;
			}
			.time .mui-table-view-cell{
				font-size: 0;
			}
			.sub{
				color: #fff;
			}
			#startTime input,#endTime input{
			    display: inline-block;
			    vertical-align: middle;
			    border: 0;
			    background: transparent;
			}