@import '../reset';
/*view css开始*/
html,
body {
    background-color: #efeff4;
}

#m-personage .mui-table-view-cell,
#userName .mui-table-view-cell {
    padding: 11px 15px;
}
#m-personage .mui-table-view-cell>a:not(.mui-btn),
#userName .mui-table-view-cell>a:not(.mui-btn) {
    margin: -11px -15px;
}
.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}

.mui-pages {
    top: 44px;
    /*bottom: 50px;*/
    height: auto;
    /*margin-bottom: 50px;*/
}

.mui-scroll-wrapper,
.mui-scroll {
    background-color: #efeff4;
}

.mui-scroll {
    /*padding: .4rem;*/
}

.mui-page.mui-transitioning {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}

.mui-page-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mui-ios .mui-page-left {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}

.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
}

.mui-navbar .mui-bar {
    position: absolute;
    /*background: transparent;*/
    text-align: center;
}

.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}

.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
    opacity: 0;
}

.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}

.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}

.mui-page-shadow {
    position: absolute;
    right: 100%;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: -1;
    content: '';
}

.mui-page-shadow {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}

.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
}

.mui-page {
    display: none;
}

.mui-pages .mui-page {
    display: block;
}

.mui-page .mui-table-view:first-child {
    /*margin-top: 15px;*/
}

.mui-page .textbox {
    margin: 0 .3rem;
}

.mui-page textarea {
    margin-top: 15px;
    height: 6rem;
}

.mui-table-view:after {
    background-color: #eaeaea;
}

.mui-table-view-cell:after,
.mui-table-view:before {
    left: 0;
    border-bottom: 1px solid #eaeaea;
    height: 0px;
}

.mui-table-view span.mui-pull-right {
    color: #999;
}

.mui-table-view-divider {
    background-color: #efeff4;
    font-size: 14px;
}

.mui-table-view-divider:before,
.mui-table-view-divider:after {
    height: 0;
}

.mui-table-view-cell {
    padding: 0;
}

.mui-table-view-cell>a:not(.mui-btn) {
    margin: 0;
    padding: 11px 15px;
}

.head {
    height: 40px;
}

#head {
    line-height: 40px;
}

.head-img {
    width: 40px;
    height: 40px;
}

#head-img1 {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.update {
    font-style: normal;
    color: #999999;
    margin-right: -25px;
    font-size: 15px
}
.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
    position: static;
}
/*view css结束*/
//.mui-badge-light-blue{
//  background: $commoBg;
//}
nav{
    &.mui-bar-tab{
        text-align: center;
        line-height: 50px;
        background: #fff;
        box-shadow: none;
        border-top: 1px solid #eee;
    }
}
/*单页面*/
#m-personage{
    .mui-page-content{
        .mui-scroll-wrapper{
            background: #fff;
            .mui-scroll{
                .mui-table-view-cell:after{
                    left: 0;
                }
                .mui-pull-right{
                    width: 100px;
                    text-align: right;
                    margin-right: 15px;
                }
                li{
                    img{
                        width: 30px !important;
                        height: 30px;
                    }
                    .userHead{
                        line-height: 35px;
                    }
                }
            }
        }
    }
}
.saveName{
    line-height: 44px;
    font-size: 15px;
    color: #fff;
}
/*修改昵称*/
#userName{
    .mui-page-content{
        .mui-scroll-wrapper{
            background: #fff;
            .mui-scroll{
                background: #fff;
                .nameBox{
                    position: relative;
                    width: 95%;
                    margin:20px auto;
                    .emptyName{
                        position: absolute;
                        right: 10px;
                        top: 8px;
                    }
                }
            }
        }
    }
}
/*设置密码*/
#settingPwd{
    .mui-page-content{
        .mui-scroll-wrapper{
            background: #fff;
            .mui-scroll{
                background: #fff;
                div{
                    position: relative;
                    margin: 0 auto;
                    width: 95%;
                    margin-top:10px;
                    &.saveBtn{
                        text-align: center;
                        button{
                            width: 80%;
                            background: $commoBg;
                            color: #fff;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

